<!DOCTYPE html>
<html>

<head>
  <% include partials/head %>
</head>

<body>
  <div class="sol-page-container">
    <h1 class="main-header"><%= page %></h3><br>
      <%- include('partials/bigSol', {sol: sols[6], data: solsData[sols[6]]});%>
      <div class="sol-row">
        <% sols.forEach(function(sol){ %>
        <%- include('partials/smallSol', {sol: sol, data: solsData[sol]}); %>
        <% }); %>
      </div>
  </div>
  </div>
</body>

</html>

</html>