<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
</head>

<body>
    <div class="container">
        <h3><%= page %></h3><br>
        <%- include('partials/bigSol', {sol: sol, data: data});%>
    </div>
</body>

</html>

</html>