<title>Mars Weather | <%= page %></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="icon"
    href="https://www1.villanova.edu/content/dam/villanova/sites/magazine/assets/imgs/mars/mars-planet.png">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> -->
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<!-- <script src="https://use.fontawesome.com/74d91e411c.js"></script> -->
<script src="https://kit.fontawesome.com/4a3e601c83.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Lacquer&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Tomorrow&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Krona+One&display=swap" rel="stylesheet">